@import url(./global.css);

body{
    background-color: #000;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-header ul li a{
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

.nav-header ul li .active{
    color: var(--color-white);
}

.container-btn-header{
    display: flex;
    gap: 16px;
}

.btn-login{
    padding: 10px 24px;
    background-color: transparent;
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    text-decoration: none;
}

.btn-primary{
    padding: 10px 24px;
    gap: 6px;
    background-color: var(--color-green);
    color: #000;
    font-family: var(--font-family-alexandria);
    text-decoration: none;
    border-radius: 40px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;    
    gap: 100px;
}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main span{
    display: flex;
    align-self: self-start;
    padding: 10px 12px;
    gap: 8px;
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
}

h1{
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title1);
    width: 521px;
}

.content-main p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    width: 583px;
}

.container-btn-main{
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.btn-green{
    background-color: var(--color-green);
    color: #000;
    padding: 14px 24px;
    font-family: var(--font-family-alexandria);
    border-radius: 40px;
    text-decoration: none;
}

.btn-secudary{
    display: flex;
    gap: 6px;
    color: var(--color-white);
    padding: 14px 24px;
    font-family: var(--font-family-alexandria);
    border: 1px solid var(--color-gray2);
    border-radius: 40px;
    text-decoration: none;
}

.section-partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0px;
    background-color: var(--color-gray4);
}
.section-partners h2{
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

.container-images-partners{
    display: flex;
    gap: 50px;
    align-items: center;
}

.section-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
}

.content-breakdown{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.content-breakdown span{
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    padding: 12px 20px;
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    font-size: var(--font-size-text2);
    }

.content-breakdown h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
}

.content-breakdown p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    text-align: center;
    width: 572px;
}

.container-card-breakdown{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-breakdown{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 36px;
    padding: 48px 36px;
    border-radius: 12px;
    background-color: #FFFFFF04;
    border: 1PX SOLID var(--color-gray3);
}

.card-breakdown div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.card-breakdown div h3{
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
}

.card-breakdown div p{
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    width: 338px;
}

.section-statistics{
    background-color: var(--color-gray4);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
}

.content-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-statistics span{
    display: flex;
    gap: 8px;
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    padding: 12px 20px;
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    font-size: var(--font-size-text2);
}

.content-statistics h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
}

.content-statistics p{
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-button);
    text-align: center;
    width: 644px;
    line-height: 140%;
}

.container-number-statistics{
    display: flex;
    justify-content: center;
    gap: 72px;
}

.number-statistics{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
   }

.number-statistics h3{
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
    font-weight: 400;
}

.number-statistics p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
}

.section-blockchain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
}

.content-blockchain{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.content-blockchain span{
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    padding: 12px 20px;
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    font-size: var(--font-size-text2);
}

.content-blockchain h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
    text-transform: capitalize;
}

.content-blockchain p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    width: 572px;
    text-align: center;
    width: 644px;
    line-height: 140%;
    }

.container-blockchain{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.container-cards-blockchain{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-blockchain{
    background-color: var(--color-gray4);
    border: 1px solid var(--color-gray2);
    padding: 30px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 24px
}

.card-blockchain div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-blockchain div h3{
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
    line-height: 140%;
   
}

.card-blockchain div p{
    color: var(--color-gray1);
    width: 530px;
    font-family: var(--font-family-alexandria);   
}

.section-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
    background-color: var(--color-gray4);
}

.content-faq{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.content-faq span{
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    padding: 12px 20px;
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    font-size: var(--font-size-text2);
}

.content-faq h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
}

.content-faq p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    text-align: center;
    width: 644px;
    line-height: 140%;
}

.container-faq{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq-item{
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    border: 1px solid var(--color-gray3);
}
.faq-item h3{
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var( --font-size-text1);
    font-weight: 400;   
    width: 792px;
}


.section-revolutionary{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 60px 0px;
}

.section-revolutionary span{
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    padding: 12px 20px;
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    font-size: var(--font-size-text2);
}

.section-revolutionary h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    width: 878px;
}

.section-revolutionary p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    text-align: center;
    width: 644px;
    line-height: 140%;
}

.section-revolutionary a{
    padding: 14px 24px;
    background-color: var(--color-green);
    color: #000;
    font-family: var(--font-family-alexandria);
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: center;
    gap: 126px;
    padding: 40px 0px;
}

.container-navigation-footer{
    display: flex;
    gap: 92px;
    align-items: flex-start;
}

.footer-navigation-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-navigation-item h2{
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
}

.navigation-item ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.navigation-item ul li a{ 
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
    text-decoration: none;    
}

.footer-updates{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-updates h2{
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
    width: 198px;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-gray3);
    padding-bottom: 16px;
}

form input{
    padding: 12px 5px;
    background-color: transparent;
    color: var(--color-white);
    outline: none;
}

form button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--color-green);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
}

form button :hover{
    background-color: #008c00;
}